@import '/src/components/styles/styles.scss';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.solutions_info{
    margin-top: 120px;
    text-transform: capitalize;
    font-family: 'Be Vietnam Pro', sans-serif;
    .solutions_title{
        font-size: 2.2rem;
        display: flex;
        justify-content: center;
    }
    .solutions_description{
        padding-top: 25px;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        color: #969696;
        text-transform: none;
    }
    .tables_wrapper{
        padding-bottom: 100px;
    }
    .tables{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 60px;
    }
    .table{
        margin-right: 30px;
        width: 280px;
        height: 340px;
        background-color:#ffffff;
        border: 1px solid #EAEAEA;
        border-radius: 15px;
        flex-wrap: wrap;
        .icons{
            margin-top: 30px;
            margin-left: 30px;
            width: 60px;
            height: 60px;
            background-color: #F2F2FF;
            border-radius: 15px;
        }
    }
    .table_title{
        margin-top: 22px;
        font-size: 1.3rem;
        font-weight: 500;
        align-items: center;
        display: flex;
        padding-left: 30px;
    }
    .table_description{
        margin-top: 16px;
        text-transform: none;
        font-size: 0.75rem;
        font-weight: 400;
        color: #969696;
        display: flex;
        justify-content: center;
        padding: 0px 40px 0px 30px;
        line-height: 24px;
        text-align: left;
    }
    .table_link_learnmore{
        margin-top: 30px;
        display: flex;
        padding-left: 30px;
        color: #6A4BFF;
        font-size: 1rem;
        font-weight: 600;
    }
}

@media (max-width: 1050px) {
    .solutions_info{
        .table_link_learnmore{
            margin-top: 10px;
        }
    }
}

@media (max-width: 1000px){
    .solutions_info{

        .table{

            .icons{
                margin-top: 15px;
                margin-left: 30px;
                width: 45px;
                height: 45px;
                background-color: #F2F2FF;
                border-radius: 15px;
            }
        }
        .table_title{
            margin-top: 5px;
            font-size: 1rem;
        }
        .table_description{
            font-size: 0.7rem;
            line-height: 21px;
        }
    }
}
@media (max-width: 750px) {
    .solutions_info{

        .solutions_title{
            font-size: 1.8rem;
            text-align: center;
        }
        .solutions_description{
            text-align: center;
        }
        .tables{
            display: flex;
            flex-wrap: wrap;
            margin-left: 50px;
        }
        .table{
            margin-bottom: 30px;
            height: 250px;
        }
    }
}